@import "tailwindcss";

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #f0f0ff !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
  caret-color: #f0f0ff;
}